<!DOCTYPE html>
<html lang=ru
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schedule</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script>

        function changeDropdown() {
            let challenge_block = document.getElementById('challenge_block');
            let challenge_video = document.getElementById('challenge_video');
            let challenge_text = document.getElementById('challenge_text');
            let challenge_header = document.getElementById('challenge_header');
            if($(challenge_text).is(":visible")){
                $(challenge_block).hide();
                $(challenge_text).hide();
                $(challenge_video).hide();
                $(challenge_header).hide();
            }
            else{
                $(challenge_block).show();
                $(challenge_header).show();
                $(challenge_text).show();
                $(challenge_video).show();
            }
        }

        function changeDay(elem) {
            let currentActive = document.getElementsByClassName('page-item active')[0];
            $(currentActive).removeClass('active');
            let nextActive = document.getElementById(elem.id);
            $(nextActive).addClass('active');
            let url = '/schedule/' + elem.id;
            $("#pageArea").load(url);
            $('#first_block').focus();
        }


        $(function () {
            $('[data-toggle="popover"]').popover({
                html : true,
                content: function() {
                    return $('#account_info').html();
                }
            });
        })

        $(document).ready(function() {
            $('#pageArea').focus();
        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-sm justify-content-lg-between mx-5 text-white">
    <a class="navbar-brand" >
        <img alt="Logo" src="" th:src="@{/img/logo.svg}">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Start</a>
        </li>
        <li class="nav-item">
            <a id="current" class="nav-link" href="/schedule">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contacts">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/leaders">Leaders</a>
        </li>

    </ul>
    <div th:if="${#bools.isTrue(auth)}" id="account" class="media" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom">
        <div  class="media-body align-self-center text-dark" th:text="${user.getScore() + ' C'}"></div>
        <img height="64px" src="" width="64px" th:src="@{/img/basic.jpg}" class="align-self-center ml-3 rounded-circle"  alt="...">
        <div id="account_info" class="popover" style="display: none;">
            <div class="row">
                <div class="col">
                    <div class="media">
                        <img height="48px" width="48px" src="" th:src="@{${user.getAvatarPath()}}" class="mr-3" alt="...">
                        <div class="media-body text-dark">
                            <h5 th:text="${user.getLogin()}"></h5>
                            <p th:text="${user.getScore() + ' C'}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="text-muted" th:text="${'E-mail: ' + user.getEmail()}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <span class="text-muted" th:text="${'Location: ' + user.getLocation()}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <span class="text-muted" th:text="${'Age: ' + user.getAge()}"></span>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${#bools.isTrue(auth)}"><a href="/login">Sign in</a></div>
</nav>
<nav>
    <ul class="pagination pagination-lg justify-content-center row d-flex">
        <li class="page-item active" id="1" onclick="changeDay(this)">
            <div class="col-sm mx-0 px-0">
            <a class="page-link text-dark"
               style="background: #FAFAFD" href="#">
                <b>25 aug
                    <span  th:if="${day==1}" class="badge badge-primary">Now</span>
                    <span  style="display: none"  class="badge badge-primary">Now</span>
                </b>
                <br/>Opening<br/> ceremony
            </a>
            </div>
        </li>
        <li class="page-item" id="2" onclick="changeDay(this)">
            <div class="col-sm mx-0 px-0">
            <a class="page-link text-dark border-top-0 border-bottom-0"
               style="background: #FAFAFD" href="#">
                <b>26 aug
                    <span  th:if="${day==2}" class="badge badge-primary">Now</span>
                    <span style="display: none" class="badge badge-primary">Now</span>
                </b>
                <br/>Connect and<br/>Learn
            </a>
            </div>
        </li>
        <li class="page-item" id="3" onclick="changeDay(this)">
            <div class="col-sm mx-0 px-0">
            <a class="page-link text-dark border-top-0 border-bottom-0"
               style="background: #FAFAFD" href="#">
                <b>27 aug
                    <span  th:if="${day==3}" class="badge badge-primary">Now</span>
                    <span  style="display: none" class="badge badge-primary">Now</span>
                </b>
                <br/>Connect and<br/>Play
            </a>
            </div>
        </li>
        <li class="page-item" id="4" onclick="changeDay(this)">
            <div class="col-sm mx-0 px-0">
            <a class="page-link text-dark border-top-0 border-bottom-0"
               style="background: #FAFAFD" href="#">
                <b>28 aug
                    <span  th:if="${day==4}" class="badge badge-primary">Now</span>
                    <span  style="display: none" class="badge badge-primary">Now</span>
                </b>
                <br/>Connect and<br/>Travel
            </a>
            </div>
        </li>
        <li class="page-item" id="5" onclick="changeDay(this)">
            <div class="col-sm mx-0 px-0">
            <a class="page-link text-dark border-right-0 border-top-0 border-bottom-0"
               style="background: #FAFAFD" href="#">
                <b>29 aug
                    <span  th:if="${day==5}" class="badge badge-primary">Now</span>
                    <span style="display: none" class="badge badge-primary">Now</span>
                </b>
                <br/>Closing<br/> ceremony
            </a>
            </div>
        </li>
    </ul>
</nav>
<div th:fragment="loadArea" class="container-fluid d-flex flex-column" id="pageArea">
    <div class="row mt-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 curves justify-content-center">
                    <div class="media py-5 px-5">
                        <img src="" th:src="@{/img/fun.svg}" class="mr-3 img-fluid" alt="...">
                        <div class="media-body justify-content-center">
                            <h2 class="mt-0 main-header">The opening ceremony</h2>
                            Learn, play and travel with us no matter what!
                        </div>
                    </div>
                </div>
            <div class="col-sm-2"></div>
        </div>
    <div class="row mt-3" id="first_block">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 curves">
            <div class="media py-5">
                <div class="media-body pl-4 justify-content-center">
                    Hey, dear friend! We are glad to welcome you at <b>the first day</b>
                    of “Barents Connection” online marathon!<br/>
                    <h5 class="text-center mt-3" style="color: #2F80ED; font-size: 24px;">Ceremony at 19:00 RU / 18:00 NO</h5>
                </div>
                <a class="pl-5" th:href="${OpeningCeremonyZoom}">
                    <img src=""  th:src="@{/img/connect.svg}" class="mr-3 img-fluid" alt="...">
                </a>
            </div>
                </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 curves">
            <div class="media mt-4">
                <div class="media-body px-4 mx-4">
                    <p>The aim of our marathon is to support the communication of cultural
                        institutions of Russia and Norway in the conditions of closed borders.</p>
                    <p>During our <b>three-day</b> marathon you will have an opportunity  to choose  the mode of interaction:</p>
                </div>
                <img src="" th:src="@{/img/aim.svg}" class="mr-3 img-fluid" alt="...">
            </div>
                </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="d-flex mt-3 justify-content-center">
        <div class="d-flex row">
           <div class="col justify-content-center text-center py-2 mr-3" style="background-color: #FAFAFD">
               You can participate<br/> in the main events<br/> to receive points for <br/> attending
           </div>
            <div class="d-flex align-items-center justify-content-center mr-3">
                AND
            </div>
           <div class="col justify-content-center py-2 text-center" style="background-color: #FAFAFD">
               You can accept the challenge to<br/> receive more points
           </div>
        </div>
    </div>
    <div class="d-flex mt-3 justify-content-center">
        <p class="text-muted text-center">The one with the most points will receive interesting prizes,
            and each participant will receive a<br/> participation certificate.</p>
    </div>
    <div class="row mt-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 curves">
            <div class="media mt-4">
                <div class="media-body pl-4">
                    <p>Today we will navigate you through the site and have a small
                        welcome word  from<br/> the organizers in <b>Zoom</b>. Join us!</p>
                    <p>Tomorrow you will have an opportunity to learn something new, play and travel<br/> without leaving your home! </p>
                </div>
                <img src="" th:src="@{/img/calendar.svg}" class="mx-3" alt="...">
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="d-flex mt-3 justify-content-center">
        <p>If you have any questions, please contact us by mail
            <a href="mailto: barentsconnection@gmail.com">barentsconnection@gmail.com</a>.
        </p>
    </div>
</div>
<footer class="footer mt-5 ">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-sm justify-content-center mx-5">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" th:href="@{/schedule}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" th:href="@{/contacts}">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" th:href="@{leaders}">Leaders</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <br/>
    <div class="row pb-5">
        <div class="col d-flex justify-content-around">
            <img alt="Logo" src="" th:src="@{/img/logo.svg}">
        </div>
        <div class="col d-flex justify-content-around text-muted text-center">
            Designed by Zakhar Gibadulin
            <br/>
            Developed by Ilya Tsindrenko
        </div>
        <div class="col d-flex justify-content-center">
            <a class="mx-2" href="http://facebook.com/barentsconnection"><img src="" th:src="@{/img/fb.svg}" alt="..."></a>
            <a class="mx-2" href="http://instagram.com/barentsconnection"><img src="" th:src="@{/img/inst.svg}" alt="..."></a>
        </div>
    </div>
</footer>
</body>
</html>