<!DOCTYPE html>
<html lang=ru
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пользователи</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script>

        function changeDropdown() {
            let challenge_block = document.getElementById('challenge_block');
            let challenge_video = document.getElementById('challenge_video');
            let challenge_text = document.getElementById('challenge_text');
            let challenge_header = document.getElementById('challenge_header');
            if($(challenge_video).is(":visible")){
                $(challenge_block).hide();
                $(challenge_text).hide();
                $(challenge_video).hide();
                $(challenge_header).hide();
            }
            else{
                $(challenge_block).show();
                $(challenge_header).show();
                $(challenge_text).show();
                $(challenge_video).show();
            }
        }

        function changeDay(elem) {
            let currentActive = document.getElementsByClassName('page-item active')[0];
            $(currentActive).removeClass('active');
            let nextActive = document.getElementById('p' + elem.id);
            $(nextActive).addClass('active');
        }

        $(function () {
            $('[data-toggle="popover"]').popover({
                html : true,
                content: function() {
                    return $('#account_info').html();
                }
            });
        })

    </script>

    <style>

        .user-pic{
            width: 48px;
            height: 48px;
        }

        .user-place{
            background: #FAFAFD;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm justify-content-lg-between text-white">
        <a class="navbar-brand" >
            <img alt="Logo" src="" th:src="@{/img/logo.jpg}" height="64px" width="64px">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Start</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Contacts</a>
            </li>
            <li class="nav-item">
                <a id="current" class="nav-link" href="/leaders">Leaders</a>
            </li>

        </ul>
        <div th:if="${#bools.isTrue(auth)}" id="account" class="media" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom">
            <div  class="media-body align-self-center text-dark" th:text="${user.getScore() + ' C'}"></div>
            <img height="64px" src="" width="64px" th:src="@{/img/basic.jpg}" class="align-self-center ml-3 rounded-circle"  alt="...">
            <div id="account_info" class="popover" style="display: none;">
                <div class="row">
                    <div class="col">
                        <div class="media">
                            <img height="48px" width="48px" src="" th:src="@{${user.getAvatarPath()}}" class="mr-3" alt="...">
                            <div class="media-body text-dark">
                                <h5 th:text="${user.getLogin()}"></h5>
                                <p th:text="${user.getScore() + ' C'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="text-muted" th:text="${'E-mail: ' + user.getEmail()}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col ">
                        <span class="text-muted" th:text="${'Location: ' + user.getLocation()}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col ">
                        <span class="text-muted" th:text="${'Age: ' + user.getAge()}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="${#bools.isTrue(auth)}"><a href="/login">Sign in</a></div>
    </nav>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
            <div class="d-flex mt-5 curves justify-content-center">
                <div class="media py-5 px-5">
                    <img src="" th:src="@{/img/leaders.svg}" class="mr-3" alt="...">
                    <div class="media-body">
                        <h2 class="mt-0 main-header">Leaders</h2>
                        List of participants who scored the most points
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div th:each="i:${#numbers.sequence(0,users.size()-1,1)}" class="row mt-5" style="width: 45%;">
                <div class="col user-place py-4 px-3">
                    <div class="media">
                        <div class="align-self-center" th:text="${i+1}">
                        </div>
                        <img  src="" th:src="@{${users.get(i).getAvatarPath()}}" class="mx-3 user-pic " alt="...">
                        <div class="media-body align-self-center mr-5" th:text="${users.get(i).getLogin()}">
                        </div>
                        <div class="justify-content-end align-self-center" style="color: #2F80ED;" th:text="${users.get(i).getScore()}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer mt-5">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-sm justify-content-center mx-5">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" href="/schedule">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" href="/contacts">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" href="/leaders">Leaders</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <br/>
    <div class="row pb-5">
        <div class="col d-flex justify-content-around">
            <img alt="Logo" src="logo.jpg" height="64px" width="64px">
        </div>
        <div class="col d-flex justify-content-around text-muted text-center">
            Designed by Zakhar Gibadulin
            <br/>
            Developed by Ilya Tsindrenko
        </div>
        <div class="col d-flex justify-content-center">
            <a class="mx-2" href="http://facebook.com/"><img src="fb.svg" alt="..."></a>
            <a class="mx-2" href="http://instagram.com/"><img src="inst.svg" alt="..."></a>
        </div>
    </div>
</footer>
</body>
</html>