<!DOCTYPE html>
<html lang=ru
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schedule</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script>
        function changeDay(elem) {
            let currentActive = document.getElementsByClassName('page-item active')[0];
            $(currentActive).removeClass('active');
            let nextActive = document.getElementById('p' + elem.id);
            $(nextActive).addClass('active');
            let url = '/schedule/' + elem.id;
            $("#eventsBlock").load(url);
        }
    </script>
</head>
<body> <!--th:style="'background:url('+ @{/img/bg.jpg} +'); background-attachment: fixed;'"-->
<nav class="navbar navbar-expand-sm bg-dark text-white">
    <a class="navbar-brand" >
        <img th:src="@{/images/logo.png}" alt="Logo" src="../static/images/logo.png" ></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Start</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/schedule}">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/contacts}">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/lgn}">Sign In</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <nav>
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item active" id="p1">
                <a class="page-link bg-dark text-white" id="1" onclick="changeDay(this)" href="#">Day 1.<hr>Opening.</a>
            </li>
            <li class="page-item" id="p2">
                <a class="page-link bg-dark text-white" id="2" onclick="changeDay(this)" href="#">Day 2.<hr>Connect and Learn.</a>
            </li>
            <li class="page-item" id="p3">
                <a class="page-link bg-dark text-white" id="3" onclick="changeDay(this)" href="#">Day 3.<hr>Connect and Play.</a>
            </li>
            <li class="page-item" id="p4">
                <a class="page-link bg-dark text-white" id="4" onclick="changeDay(this)" href="#">Day 4.<hr>Connect and Teach.</a>
            </li>
            <li class="page-item" id="p5">
                <a class="page-link bg-dark text-white" id="5" onclick="changeDay(this)" href="#">Day 5.<hr>The last bonfire.</a>
            </li>
        </ul>
    </nav>
    <div id="eventsBlock">
        <div class="row"  th:each="i:${#numbers.sequence(0,events.size()-1,2)}">
            <div class="col">
                <div class="card text-white bg-dark">
                    <img th:src="@{'/img/' + ${events.get(i).getImgPath()}}" class="card-img-top" alt="..." height="300">
                    <div class="card-img-overlay">
                        <h3 class="card-subtitle" th:text="${events.get(i).getDateAsString()}"></h3>
                        <h3 class="card-subtitle" th:text="${events.get(i).getTimeAsString()}"></h3>
                    </div>
                    <div class="card-body bg-dark">
                        <h4 class="card-title" th:text="${events.get(i).getName()}"></h4>
                        <p class="card-text" th:text="${events.get(i).getDescription()}"></p>
                        <a th:href="${events.get(i).getLink()}" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>
            <div class="col" >
                <div th:if="${i+1}>${events.size()-1}"></div>
                <div th:unless="${i+1}>${events.size()-1}" class="card text-white bg-dark">
                    <img th:src="@{'/img/' + ${events.get(i+1).getImgPath()}}" class="card-img-top" alt="..." height="300">
                    <div class="card-img-overlay">
                        <h3 class="card-subtitle" th:text="${events.get(i+1).getDateAsString()}"></h3>
                        <h3 class="card-subtitle" th:text="${events.get(i+1).getTimeAsString()}"></h3>
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title" th:text="${events.get(i+1).getName()}"></h4>
                        <p class="card-text" th:text="${events.get(i+1).getDescription()}"></p>
                        <a th:href="${events.get(i+1).getLink()}" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>