<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schedule</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="team" id="2" class="carousel-item active">
    <div class="d-flex justify-content-center mb-3">
        <h1>Team</h1>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="card text-center text-dark border-0">
                <a href="https://www.facebook.com/rgladyshev"><img src="" th:src="@{/img/roman.svg}" class="card-img-top" alt="..." ></a>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 18px"><b>Roman Gladyshev</b></h5>
                    <p class="card-text text-muted">Scriptwriter</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center text-dark border-0">
                <img src="" th:src="@{/img/kare.svg}" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title" style="font-size: 18px"><b>Kåre Johan Teigen</b></h5>
                    <p class="card-text text-muted">Guide, Volunteer</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center text-dark border-0">
                <div class="card text-center text-dark border-0">
                    <img src="" th:src="@{/img/ariane.svg}" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title" style="font-size: 18px"><b>Ariane Hetland</b></h5>
                        <p class="card-text text-muted">Host</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center text-dark border-0">
                <a href="https://www.facebook.com/profile.php?id=100008127070897">
                    <img src="" th:src="@{/img/yulua.svg}" class="card-img-top" alt="...">
                </a>
                <div class="card-body ">
                    <h5 class="card-title" style="font-size: 18px"><b>Yulia Shokhova</b></h5>
                    <p class="card-text text-muted">Scriptwriter</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="card text-center text-dark border-0">
                <a href="https://www.instagram.com/dashakuku/?igshid=s931j4ufcfz2">
                    <img src="" th:src="@{/img/daria.svg}" class="card-img-top" alt="...">
                </a>
                <div class="card-body ">
                    <h5 class="card-title" style="font-size: 18px"><b>Daria Kuprikova</b></h5>
                    <p class="card-text text-muted">Guide, Volunteer</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center text-dark border-0">
                <a href="https://www.instagram.com/hatelovemaximshishov/">
                    <img src="" th:src="@{/img/maxim.svg}" class="card-img-top" alt="...">
                </a>
                <div class="card-body ">
                    <h5 class="card-title" style="font-size: 18px"><b>Maksim Shishov</b></h5>
                    <p class="card-text text-muted">Guide Volunteer</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center text-dark border-0">
                <a href="mailto:Efremenkovaalina@mail.ru">
                    <img src="" th:src="@{/img/alina.svg}" class="card-img-top" alt="...">
                </a>
                <div class="card-body ">
                    <h5 class="card-title" style="font-size: 18px"><b>Alina Efremenkova</b></h5>
                    <p class="card-text text-muted">Volunteer</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
</body>
</html>